---
layout: default
title: "Planet and archive"
title1: "Planet"
title2: "Archive"
permalink: /planet
---


    <section class="single">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="line top">
              <div>{{ page.title1 }}</div>
            </div>
              <p>Some useful references from other TripleO developers,
                 here you will find the latest updates from the community.</p>
              <div id="archiveul" class="body-col" data-item="article">
              </div>
              <p><strong>Note:</strong> Due to CORS restrictions, this page uses a
                 <a href="https://cors-anywhere.herokuapp.com/">proxy</a>
                 to add cross-origin headers when building the Planet list.
                 Check additional information about the CORS proxy on
                 <a href="https://www.npmjs.com/package/cors-anywhere">NPM</a>.
              </p>
          </div>
          <div class="col-md-6">
            <div class="line top">
              <div>{{ page.title2 }}</div>
            </div>
              {% assign totalwords = 0 %}
              {% for post in site.posts %}
                {% assign wordcount = post.content | number_of_words %}
                {% assign totalwords = totalwords | plus: wordcount %}
              {% endfor %}
              <p>
                Since {{ site.posts.last.date | date: "%B %d, %Y" }}, I've written {{ totalwords }}
                words in {{ site.posts | size }} posts, about software engineering, OpenStack,
                professional growth and other miscellaneous topics. I hope you've enjoyed reading
                at least some of those words. My favorite posts are starred.
              </p>
              <div class="body-col" data-item="article">
                {% for post in site.posts %}
                    {% assign currentdate = post.date | date: "%Y" %}
                    {% if currentdate != date %}
                      <h2>{{ currentdate }}</h2>
                        {% assign date = currentdate %}
                    {% endif %}
                    {% unless post.tags contains "draft" or post.tags contains "pod" %}
                    <article class="article-mini">
                      <div class="inner">
                        <figure>
                          <a href="{{ post.url }}">
                            <img src="{{ post.refimage }}">
                    		  </a>
                    		 </figure>
                    		 <div class="padding">
                    		     <h1><a href='{{ post.url }}'>{{ post.title }}</a>{% if post.favorite == true %}&nbsp;&nbsp;&nbsp;<i class="ion-star"></i>{% endif %}</h1>
                    		       <div class="detail">
                    		           <div class="category"><a href='{{ post.url }}'>{{ post.author }}</a></div><div class="time">&nbsp;- {{ post.date | truncate: 10, "" }}</div>
                    		       </div>
                    		 </div>
                    	</div>
                    </article>
                    {% endunless %}
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </section>
