<div class="line top">
 <div>The code</div>
</div>
<aside>
 <div class="aside-body">
  <article class="article-fw">
   <div class="inner">
    <a href="https://www.kubeinit.com">
     <img width=100% src="https://raw.githubusercontent.com/kubeinit/kubeinit/master/images/logo.svg?sanitize=true">
    </a>
    <div style="text-transform: uppercase; float: right; font-weight: 500; font-size: 11px; margin-right: 10px; color: #F73F52;">
     <a href="https://github.com/kubeinit/kubeinit">The Kubernetes initiator</a>
    </div><br/><br/>
    <div class="details">
      <p style="text-align: center">
       <a href="https://github.com/kubeinit/kubeinit">KubeInit</a> provides Ansible playbooks
       and roles to deploy and configure in a single command multiple Kubernetes distributions
       based in a curated list of prescribed architectures.
      </p>
    </div>
   </div>
  </article>
 </div>
</aside>
