<footer>
<section>
  {% unless page.skip_bio %}
  <div id="bio">
    <div id="bio-image">
      <img src="/static/me.jpg" alt="Carlos Camacho">
    </div>
    
    <div id="bio-text">
      <p>Why it is my picture upside down? Sometimes is good to see everything with a different perspective.</p>
      <div id="bio-social">
        {% include social.html %}
      </div>
    </div>
  </div>
  {% endunless %}
  {% unless page.skip_related %}
  <aside>
    <h3>Further reading</h3>
    <ul class="posts">
      {% if page.tags %}
        {% assign sn = page.tags.first %}
        {% for post in site.tags[sn] limit:3 %}
          {% unless page.title == post.title or post.tags contains "draft"%}
            <li><a href="{{ post.url }}">{{ post.title | slice: 0, 24 }}..</a></li>
          {% endunless %}
        {% endfor %}
      {% else %}
        {% for post in site.related_posts limit:3 %}
          {% unless page.title == post.title or post.tags contains "draft"%}
            <li><a href="{{ post.url }}">{{ post.title | slice: 0, 24 }}..</a></li>
          {% endunless %}
        {% endfor %}
      {% endif %}
    </ul>
  </aside>
  {% endunless %}
</section>
<script src="{{ "/js/prism.js" | prepend: site.baseurl }}"></script>
</footer>

{% include fine-print.html %}
