<ul id="files_list"></ul>
<script>
$.getJSON('https://api.github.com/repos/anstack/anstack.github.io/contents/{{ include.path }}', function(data) {
    for (var i = 0; i < data.length; i++) {
        var ul = document.getElementById("files_list");
        var li = document.createElement("li");
        var a = document.createElement('a');
        a.setAttribute('href',data[i].download_url);
        a.innerHTML = data[i].name;
        li.appendChild(a);
        ul.appendChild(li);
    }
});
</script>
