<div class="firstbar">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-12">
							<div class="brand">
								<a href="/">
									<img src="/assets/images/logo.png" alt="Pubstack">
								</a>
							</div>
						</div>
						<div class="col-md-9 col-sm-12">
							<form class="search" autocomplete="off" action="/search">
								<div class="form-group">
									<div class="input-group">
                  <!--  <input type="text" name="q" class="form-control" placeholder="Type something here">-->

                    <input id="search-input" name="search-input" type="text" class="form-control" placeholder="Type something..." aria-label="Search articles">

										<div class="input-group-btn">
											<button class="btn btn-primary" aria-label="Search"><i class="ion-search"></i></button>
										</div>
									</div>
								</div>
								<div class="help-block">
									<div>Popular:</div>
									<ul>
										<li><a href="/cloud">Cloud Computing</a></li>
										<li><a href="/ai">Artificial Intelligence</a></li>
										<li><a href="/engineering">Engineering</a></li>
										<li><a href="/management_and_reflections">Management</a></li>
										<li><a href="/hobbies">Hobbies</a></li>
									</ul>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
