<div class="firstbar">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-12">
							<div class="brand">
								<a href="/">
									<img src="/assets/images/logo.png" alt="Anstack">
								</a>
							</div>
						</div>
						<div class="col-md-9 col-sm-12">

							<form class="search" autocomplete="off" action="/search">
								<div class="form-group">
									<div class="input-group">
                  <!--  <input type="text" name="q" class="form-control" placeholder="Type something here">-->

                    <input id="search-input" name="search-input" type="text" class="form-control" placeholder="Type something...">

										<div class="input-group-btn">
											<button class="btn btn-primary"><i class="ion-search"></i></button>
										</div>
									</div>
								</div>




								<div class="help-block">
									<div>Popular:</div>
									<ul>
										<li><a href="#">OpenStack</a></li>
										<li><a href="#">TripleO</a></li>
										<li><a href="#">Cloud Computing</a></li>
										<li><a href="#">Management</a></li>
										<li><a href="#">Restrospectives</a></li>
									</ul>
								</div>
							</form>


						</div>
						<!--<div class="col-md-3 col-sm-12 text-right">
							<ul class="nav-icons">
								<li><a href="register.html"><i class="ion-person-add"></i><div>Register</div></a></li>
								<li><a href="login.html"><i class="ion-person"></i><div>Login</div></a></li>
							</ul>
						</div>-->
					</div>
				</div>
			</div>
