<script>

if ( WEBGL.isWebGLAvailable() === false ) {
document.body.appendChild( WEBGL.getWebGLErrorMessage() );
}

var container, stats;
var camera, controls, scene, renderer;

function init(path, model) {
    container = document.getElementById(model);

    /* Camera */
    camera = new THREE.PerspectiveCamera( 45, container.offsetWidth / container.offsetHeight, 0.1, 1000 );
		camera.position.set( 10, 60, 600 );

    /* Controls */
		controls = new THREE.OrbitControls( camera, container );
		controls.target.set( 0, 0.2, 0.2 );
		controls.update();

    // scene
		scene = new THREE.Scene();
  	var loader = new THREE.RGBELoader().setPath( '/'+path );
    scene.background = new THREE.Color( 0x202020);//0xa0a0a0 );
    scene.fog = new THREE.Fog( 0x202020, 200, 1000 );
    light = new THREE.HemisphereLight( 0xffffff, 0x444444 );
    light.position.set( 0, 200, 0 );
    scene.add( light );
    light = new THREE.DirectionalLight( 0xffffff );
    light.position.set( 0, 200, 100 );
    light.castShadow = true;
    light.shadow.camera.top = 180;
    light.shadow.camera.bottom = - 100;
    light.shadow.camera.left = - 120;
    light.shadow.camera.right = 120;
    scene.add( light );

    // ground
    var mesh = new THREE.Mesh( new THREE.PlaneBufferGeometry( 2000, 2000 ), new THREE.MeshPhongMaterial( { color: 0x999999, depthWrite: false } ) );
    mesh.rotation.x = - Math.PI / 2;
    mesh.receiveShadow = true;
    scene.add( mesh );
    var grid = new THREE.GridHelper( 2000, 20, 0x000000, 0x000000 );
    grid.material.opacity = 0.2;
    grid.material.transparent = true;
    scene.add( grid );

    var loader = new THREE.GLTFLoader().setPath( '/'+path );
    loader.load( model+'.gltf', function ( gltf ) {
      scene.add( gltf.scene );
    } );


  	renderer = new THREE.WebGLRenderer( { antialias: true } );
  	renderer.setPixelRatio( window.devicePixelRatio );
    //renderer.setSize(container.offsetWidth, container.offsetHeight );

    renderer.setSize($(container).width(), $(container).height());

	  renderer.gammaOutput = true;

	  container.appendChild( renderer.domElement );

	  window.addEventListener( 'resize', onWindowResize, false );


        animate();
			}

      function onWindowResize() {
        camera.aspect = $(container).width() / $(container).height();
        camera.updateProjectionMatrix();
        renderer.setSize($(container).width(), $(container).height());
      }


			function animate() {
				requestAnimationFrame( animate );
				renderer.render( scene, camera );
			}
</script>
