<strike>Stalk</strike> Follow me:
<div id="social-links">
  <a title="ccamacho website" href="http://www.ccamacho.org"><i class="fa fa-external-link-square"></i></a>
  <a title="ccamacho e-mail" href="mailto:ccamacho@yandex.com"><i class="fa fa-envelope-square"></i></a>
  <a title="ccamacho on Github" href="http://github.com/ccamacho/"><i class="fa fa-github-square"></i></a>
  <a title="ccamacho on LinkedIn" href="https://www.linkedin.com/in/ccamacho-/en?locale=en_US"><i class="fa fa-linkedin-square"></i></a>
  <a title="RSS feed" id="rss" href="/atom.xml"><i class="fa fa-rss-square"></i></a>
</div>
