<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7654855850780427",
      enable_page_level_ads: true
    });
  </script>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="VikwqTxe7ybu1qSM7LFgIQpvHLN0_j-iVzaLqF88vEw" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Carlos Camacho - {{ page.title }}</title>
  <meta name="author" content="Carlos Camacho" />
  <meta name="description" content="Stacked answers about software, book writeups and geeky projects by a software engineer" />
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:image" content="http://www.anstack.com/static/me.jpg"/>
  <meta property="og:site_name" content="Carlos Camacho - A bunch of stacked answers - anstack"/>
  <meta property="og:description" content="Stacked answers about software, book writeups and geeky projects by a software engineer"/>

  
  <link rel="canonical" href="http://anstack.github.io{{ page.url | replace:'index.html','' }}" />

  <link href="//fonts.googleapis.com/css?family=Nunito:400,700,300|Varela+Round" rel="stylesheet" type="text/css">

  <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">

  <link rel="alternate" type="application/rss+xml" title="Carlos Camacho's Blog" href="{{site.url}}/atom.xml" />

  {% if site.github %}
    <link rel="stylesheet" href="/css/site.css?sha={{ site.github.build_revision }}">
  {% else %}
    <link rel="stylesheet" href="/css/site.css">
  {% endif %}

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
   <script>

    $(document).ready(function(){
       fillPlanet();
    });

   function sortList(){
	    var elems = $('#archiveul').children('li').remove();
	    elems.sort(function(a,b){
	    return parseInt(b.id) - parseInt(a.id);
	    });
	    $('#archiveul').append(elems);
   }

   function insertRow(timestamp,link, tit, auth, d){
       $("#archiveul").append("<li id='"+timestamp+"'><a href='" + link + "'  >" + tit + "</a>&nbsp;&nbsp;&nbsp;" + auth + " @ " + d.getFullYear() + '/' + (d.getMonth()+1) + '/' + d.getDate() + "</li>");
       sortList();
   }

   function procResponse(data,author){
                    $(data).find("entry, item").each(function () {
                        var el = $(this);
                        var tit = el.find("title").text();
                        var auth = author;
                        var dat = el.find("pubDate, published, updated").first().text();
                        var timestamp = Date.parse(dat)
                        var d = new Date(timestamp);
                        if ( isNaN( d.getTime() ) ){
                            var myDate=dat;
                            myDate=myDate.split("-");
                            var newDate=myDate[0]+"/"+myDate[1]+"/"+myDate[2].substring(0, 2); 
                            timestamp = new Date(newDate).getTime();
                            d = new Date(newDate);
                        }
                        if ((typeof el.find("link").attr("href") !== 'undefined') && (el.find("link").attr("href").indexOf('http') !== -1)) {
                            link = el.find("link").attr("href");
                        }else{
                           if ((typeof el.find("link").text() !== 'undefined') && (el.find("link").text().indexOf('http') !== -1)) {
                               link = el.find("link").text();
                           }else{
                               link = "http://www.google.com";
                           }
                        }
                        insertRow(timestamp, link, tit, auth, d);
                    });
   }

   function retrieveData(i){
       $.ajax({
           url: i['uri'],
           type: 'GET',
           success: function (data) {
                        procResponse(data,i['author']);
                    },
          error: function(data) {
                     console.log(data);
                 }
       });
   }

   function fillPlanet() {
        var posts = [];
        var corssproxy = 'https://cors-anywhere.herokuapp.com/';
        var urls = [
            {uri: corssproxy + 'http://blog.nemebean.com/taxonomy/term/5/feed', author:'bnemec'}, //Ben
            {uri: corssproxy + 'https://dprince.github.io/feeds/tripleo.atom.xml', author:'dprince'}, //Dan
            {uri: corssproxy + 'http://www.dougalmatthews.com/feeds/openstack.atom.xml', author:'douglas'},  //Douglas
            {uri: corssproxy + 'http://my1.fr/blog/category/virtualization/openstack/tripleo/feed/atom/', author:'EmilienM'},  //Emilien
            {uri: corssproxy + 'http://giuliofidente.com/feeds/tag/tripleo.atom.xml', author:'gfidente'},  //Giulio
            {uri: corssproxy + 'http://blog-slagle.rhcloud.com/?tag=tripleo&feed=rss2', author:'jslagle'},  //James
            {uri: corssproxy + 'http://jaormx.github.io//feed.xml', author:'jaosorior'},  //Juan
            {uri: corssproxy + 'http://mariosandreou.com/tripleo.xml', author:'marios'},  //Marios
            {uri: corssproxy + 'http://hardysteven.blogspot.com/feeds/posts/default/-/tripleo?alt=rss', author:'shardy'} //Steven
           ];
        for (var i in urls) {
            retrieveData(urls[i]);
        }
    }
   </script>



</head>
<body>
  <section>
    {% include header.html %}
    <article>
      <h1 class="title">Planet</h1>
      <p>Some useful references from TripleO developers.</p>
      <div id="archive"><ul id="archiveul"></ul></div>
      <p><strong>Note:</strong> Due to CORS restrictions, this page uses a
         <a href="https://cors-anywhere.herokuapp.com/">proxy</a>
         to add cross-origin headers when building the Planet list.
         Check additional information about the CORS proxy on
         <a href="https://www.npmjs.com/package/cors-anywhere">NPM</a>.
      </p>
      {% unless page.skip_footer %}
      <hr class="fin"/>
      {% endunless %}
    </article>
    {% unless page.skip_footer %}
      {% include footer.html %}
    {% endunless %}
  </section>
{% include analytics.html %}
<script>
</script>
</body>
</html>
