<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="VikwqTxe7ybu1qSM7LFgIQpvHLN0_j-iVzaLqF88vEw" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Carlos Camacho - {{ page.title }}</title>
  <meta name="author" content="Carlos Camacho" />
  <meta name="description" content="Stacked answers about software, book writeups and geeky projects by a software engineer" />
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:image" content="http://www.anstack.com/static/me.jpg"/>
  <meta property="og:site_name" content="Carlos Camacho - A bunch of stacked answers - anstack"/>
  <meta property="og:description" content="Stacked answers about software, book writeups and geeky projects by a software engineer"/>

  
  <link rel="canonical" href="http://anstack.github.io{{ page.url | replace:'index.html','' }}" />

  <link href="//fonts.googleapis.com/css?family=Nunito:400,700,300|Varela+Round" rel="stylesheet" type="text/css">

  <link rel="shortcut icon" href="/static/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="Carlos Camacho's Blog" href="{{site.url}}/atom.xml" />

  {% if site.github %}
    <link rel="stylesheet" href="/css/site.css?sha={{ site.github.build_revision }}">
  {% else %}
    <link rel="stylesheet" href="/css/site.css">
  {% endif %}

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
   <script>

    $(document).ready(function(){
       fillPlanet();
       sortList();
    });


   function sortList(){
	    var elems = $('#archiveul').children('li').remove();
	    elems.sort(function(a,b){
	    return parseInt(b.id) - parseInt(a.id);
	    });
	    $('#archiveul').append(elems);
   }

   function fillPlanet() {
        jQuery.ajaxSetup({async:false});
        var posts = [];
        var crossproxy = 'https://crossorigin.me/';
        //Change this to a hash with author name...
        var urls = [
            {uri: crossproxy + 'http://blog.nemebean.com/taxonomy/term/5/feed', author:'bnemec'}, //Ben
            {uri: crossproxy + 'https://dprince.github.io/feeds/tripleo.atom.xml', author:'dprince'}, //Dan
            {uri: crossproxy + 'http://www.dougalmatthews.com/feeds/openstack.atom.xml', author:'douglas'},  //Douglas
            {uri: crossproxy + 'http://my1.fr/blog/category/virtualization/openstack/tripleo/feed/atom/', author:'EmilienM'},  //Emilien
            {uri: crossproxy + 'http://giuliofidente.com/feeds/tag/tripleo.atom.xml', author:'gfidente'},  //Giulio
            {uri: crossproxy + 'http://blog-slagle.rhcloud.com/?tag=tripleo&feed=rss2', author:'jslagle'},  //James
            {uri: crossproxy + 'http://jaormx.github.io//feed.xml', author:'jaosorior'},  //Juan
            {uri: crossproxy + 'http://mariosandreou.com/tripleo.xml', author:'marios'},  //Marios
            {uri: crossproxy + 'http://hardysteven.blogspot.com/feeds/posts/default/-/tripleo?alt=rss', author:'shardy'} //Steven
           ];

        for (var i in urls) {
            $.get(urls[i]['uri'], function (data) {
                $(data).find("entry, item").each(function () {
                    var el = $(this);
                    tit = el.find("title").text();
                    auth = urls[i]['author'];
                    dat = el.find("pubDate, published, updated").first().text();
                    timestamp = Date.parse(dat)
                    var d = new Date(timestamp);
                    if ( isNaN( d.getTime() ) ){
                        var myDate=dat;
                        myDate=myDate.split("-");
                        var newDate=myDate[0]+"/"+myDate[1]+"/"+myDate[2].substring(0, 2); 
                        timestamp = new Date(newDate).getTime();
                        d = new Date(newDate);
                    }
                    if ((typeof el.find("link").attr("href") !== 'undefined') && (el.find("link").attr("href").indexOf('http') !== -1)) {
                        link = el.find("link").attr("href");
                    }else{
                       if ((typeof el.find("link").text() !== 'undefined') && (el.find("link").text().indexOf('http') !== -1)) {
                           link = el.find("link").text();
                       }else{
                           link = "http://www.google.com";
                       }
                    }
                    $("#archiveul").append("<li id='"+timestamp+"'><a href='" + link + "'  >" + tit + "</a>&nbsp;&nbsp;&nbsp;" + auth + " @ " + d.getFullYear() + '/' + (d.getMonth()+1) + '/' + d.getDate() + "</li>");
                    sortList();
               });
            });
        }
    }
   </script>



</head>
<body>
  <section>
	{% include header.html %}

	<article>
	  <h1 class="title">
	    Planet
	  </h1>

        <p>Some useful references from TripleO developers.</p>

	<div id="archive"><ul id="archiveul"></ul></div>

	  {% unless page.skip_footer %}
	    <hr class="fin"/>
	  {% endunless %}
	</article>


	{% unless page.skip_footer %}
	  {% include footer.html %}
	{% endunless %}
  </section>
{% include analytics.html %}

<script>
</script>
</body>
</html>
