---
layout: default
title: Engineering
permalink: /engineering
---


<section class="category">
  <div class="container">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="line top">
          <div>{{ page.title }}</div>
        </div>
        <div class="row">

          {% assign sw_posts = site.posts | where:'tags', 'software_development' %}
          {% assign en_posts = site.posts | where:'tags', 'engineering' %}
          {% assign sw_en_posts = sw_posts | concat: en_posts | uniq | sort: 'date' | reverse %}


          {% assign filtered_posts = "" | split: ',' %}
          {% for post in sw_en_posts %}
            {% unless post.tags contains "draft" %}
            {% assign filtered_posts = filtered_posts | push: post %}
            {% endunless %}
          {% endfor %}

          {% for post in filtered_posts %}
          <article class="col-md-12 article-list">
            <div class="inner">
              <figure>
                <a href="{{ post.url }}">
                  <img src="{{ post.refimage }}">
                </a>
              </figure>
              <div class="details">
                <div class="detail">
                  <div class="category">
                    {% for sn in post.tags %}{% if forloop.last %}<a href="#">{{ sn | replace: "_", " " }}</a>{% else %}<a href="#">{{ sn | replace: "_", " " }}</a>, {% endif %}{% endfor %}
                  </div>
                </div>
                <h1><a href="{{ post.url }}">{{ post.title }}</a>{% if post.favorite == true %}&nbsp;&nbsp;&nbsp;<i class="ion-star"></i>{% endif %}</h1>
                <div class="time">{{ post.date | truncate: 10, "" }}</div>
                <p>{{ post.excerpt | truncate: 100 }}</p>
                <footer>
                  <a class="btn btn-primary more" href="{{ post.url }}">
                    <div>More</div>
                    <div><i class="ion-ios-arrow-thin-right"></i></div>
                  </a>
                </footer>
              </div>
            </div>
          </article>


          {% endfor %}

        </div>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12 sidebar" id="sidebar">
        <div class="sidebar-title for-tablet">Sidebar</div>
        {% include aside_recent_posts.html %}
      </div>
    </div>
</section>
